<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidsp.appgplx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BtnBienBao.BtnBienBaoActivity"
            android:label="@string/title_activity_btn_bien_bao" />
        <activity
            android:name=".BtnDethi.Giaodien_Dethi_Activity"
            android:label="@string/title_activity_giaodien__dethi_" />
        <activity android:name=".BtnDethi.MainOver_Activity" />

        <uses-permission android:name="android.permission.INTERNET" />

        <activity android:name=".Btn_MeoGhiNho.Btn_MeoGhiNho_Activity" />
        <activity
            android:name=".BtnOntap_Lythuyet.Ontap_Lythuyet_Activity"
            android:label="Ôn tập lý thuyết"></activity>
    </application>

</manifest>